#leftBox {
    background-color: lightblue !important;
    height: 100%;
    width: 100px !important;
    float: left;
    text-align: center;
}

#header {
    text-color: lightblue !important;
    text-decoration: none;
    width: 100%;
    height: 100px;
    text-align: center;
}

p {
    font-family: "Arial";
    font-size: 20px;
}